# --extra-index-url https://download.pytorch.org/whl/cu124

sqlitecloud
fastapi
uvicorn
scikit-learn
pandas
numpy
beautifulsoup4
playwright
python-whois
tldextract
joblib
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
PyPDF2
python-docx
fpdf2
pydantic[email]
python-dotenv
torch
transformers
sentence-transformers
accelerate>=1.1.0
boto3