fastapi
uvicorn
scikit-learn
pandas
numpy
beautifulsoup4
playwright
python-whois
tldextract
joblib
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
PyPDF2
python-docx
fpdf2
pydantic[email]
python-dotenv
torch
# torch==2.10.0+cu128 # With CUDA 12.8 support
transformers
sentence-transformers
accelerate>=1.1.0