fastapi
uvicorn
scikit-learn
pandas
numpy
beautifulsoup4
requests
python-whois
tldextract
joblib
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
PyPDF2
python-docx
fpdf2
spacy
pydantic[email]
python-dotenv